@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>LEARN  TO DO crud ? in macos ? continue again ? MVC . Forget all those term ..  </p>
</div>
